{% extends 'base.html' %}
{% load static %}
{% block title %}    <title>Category List</title> {% endblock %}
{% block additionalstyles %}
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <style>
        .category-item {
            transition: background-color 0.3s;
        }
        .category-item:hover {
            background-color: #f8f9fa;
        }
        .edit-icon {
            opacity: 0.6;
            transition: opacity 0.3s;
        }
        .edit-icon:hover {
            opacity: 1;
        }
        label {font-weight: bold;}
    </style>
{% endblock %}
{% block maincontent %}    
<div class="container mx-auto mt-3">
    <h1 class="text-center">Personal Finance Manager</h1>
    <h6 class="text-center fw-light"><em>Track your earnings and spending. Manage your savings</em></h6>
</div>
<nav class="navbar bg-success bg-opacity-75 mb-3">
    <h2 class="text-white text-center mx-auto"><i class="bi-tags pe-3"></i> Category List</h2>
</nav>

  
    <div class="container mt-4">
        <div class="my-4 text-end">
            <a href="{% url 'myfinance:category-create' %}" class="btn btn-primary">Add New Category</a>
        </div>

        <div class="list-group">
            {% for category in categorys %}
                <div id="category-{{category.pk}}" class="list-group-item category-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="mb-1">{{ category.name }}</h5>
                            <p class="mb-1 text-muted">
                                {% if category.cat_type == 'I' %}Income {% elif  category.cat_type == 'E' %}Expense{% else %}Transfer{% endif %}
                            </p>
                        </div>
                        <button class="btn btn-sm btn-link edit-icon"
                            hx-get="{% url 'myfinance:category-edit' category.pk %}"
                            hx-target="#category-{{category.pk}}"
                            hx-swap="outerHTML">
                            ✏️
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>
{% endblock %}