{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Vendor Management</title>
{% endblock %}
{% block additionalstyles %}
  <style>
    label{width:30%; float:left;font-weight: bold;}
    input, select{width:70%; float:right;}
    form p{padding-bottom: 20px;}
    #id_track{float:left;}
    .helptext{color:gray; font-size: 0.8rem;}
  </style>
{% endblock %}
{% block maincontent %}
  <div class="container mx-auto mt-3">
    <h1 class="text-center">Personal Finance Manager</h1>
    <h6 class="text-center fw-light"><em>Track your earnings and spending. Manage your savings</em></h6>
  </div>
  <nav class="navbar bg-success bg-opacity-75 mb-3">
      <h2 class="text-white text-center mx-auto"><i class="bi-bank pe-3"></i> Add New Account</h2>
  </nav>
 
  <div class="container d-grid gap-2 mx-auto">
    <form method="POST" id="main-form">
      {% csrf_token %}
      {{form.as_p}}
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary btn-lg mx-auto" role="button">CREATE</button>
      </div>
    </form>
  </div>
{% endblock %}