{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>DASHBOARD</title>
{% endblock %}
{% block additionalstyles %}
  <style>
    @media only screen and (max-width: 960px) {
      #month4 {
      display: block;
      }
      #month12 {
        display:none;
      }
    }
    @media only screen and (min-width: 960px){
      #month4 {
        display: none;
      }
      #month12 {
        display: block;
      }
    }
    .dataframe th {
        background-color: rgba(170,110,40,0.2);
        color: white;
        padding: 10px;
        
    }
     
  </style>
{% endblock %}
{% block bodysetting %} <body style="background-color: #1a1a25;"> {% endblock %}
{% block maincontent %}
<div class="container text-white">
  {% if detail == 'expenses' %}
  <p class="display-6 text-center my-3">DASHBOARD - Expenses</p>
  {% elif detail == 'income' %}
  <p class="display-6 text-center my-3">DASHBOARD - Income</p>
  {% else %}
  <p class="display-6 text-center my-3">Dashboard</p>
  {% endif %}
  <div class="container my-3 rounded-4 p-3 text-center" id="month4" style="background-color: #27293d; border-color:#27293d;">
      {% if detail == 'expenses' %}
      <p class="text-info text-center display-6">Monthly Expenses</p>
      <div><canvas id="expense4Chart"></canvas></div>
      {% elif detail == 'income' %}
      <p class="text-info text-center display-6">Monthly Income</p>
      <div><canvas id="income4Chart"></canvas></div>
      {% else %}
      <p class="text-info text-center display-6">No Data Found</p>
      {% endif %}
  </div>
  <div class="container my-3 rounded-4 p-3 text-center" id="month12" style="background-color: #27293d; border-color:#27293d;">
    {% if detail == 'expenses' %}
    <p class="text-info display-6 text-center">Monthly Expenses</p>
    <div><canvas id="expense12Chart"></canvas></div>
    {% elif detail == 'income' %}
    <p class="text-info display-6 text-center">Monthly Income</p>
    <div><canvas id="income12Chart"></canvas></div>
    {% else %}
    <p class="text-info display-6 text-center">No Data Found</p>
    {% endif %}
  </div>
  <div class="container my-3 rounded-4 p-3 text-center" style="background-color: #27293d; border-color:#27293d;">
    {% if detail == 'expenses' %}
    <p class="display-6 text-info">Expense Details</p>
    <div class="table-responsive overflow-auto">{{expense_table|safe}}</div>
    {% elif detail == 'income' %}
    <p class="display-6 text-info">Income Details</p>
    <div class="table-responsive overflow-auto">{{income_table|safe}}</div>
    {% else %}
    <p class="display-6 text-info">Missing Data</p>
    {% endif %}
  </div>
</div>



<script>
var ctx = document.getElementById('expense4Chart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'bar', // Bar chart
data: {
  labels: {{month6_list|safe}},
  datasets: [
    {% for key, val in expense6_dict.items %}
    {
      label: '{{key}}',
      data: {{val|safe}},
      backgroundColor: '{% cycle 'rgba(128,0,0,0.2)' 'rgba(170,110,40,0.2)' 'rgba(128,128,0,0.2)' 'rgba(0,128,128,0.2)' 'rgba(0,0,128,0.2)' 'rgba(0,0,0,0.2)' 'rgba(230,25,75,0.2)' 'rgba(245,130,48,0.2)' 'rgba(255,225,25,0.2)' 'rgba(210,245,60,0.2)' 'rgba(60,180,75,0.2)' 'rgba(70,240,240,0.2)' 'rgba(0,130,200,0.2)' 'rgba(145,30,180,0.2)' 'rgba(240,50,230,0.2)' 'rgba(128,128,128,0.2)' 'rgba(250,190,212,0.2)' 'rgba(255,215,180,0.2)' 'rgba(255,250,200,0.2)' 'rgba(170,255,195,0.2)' 'rgba(220,190,255,0.2)' 'rgba(255,255,255,0.2)' %}', // Color for Category 1
      borderColor: '{% cycle 'rgba(128,0,0,1)' 'rgba(170,110,40,1)' 'rgba(128,128,0,1)' 'rgba(0,128,128,1)' 'rgba(0,0,128,1)' 'rgba(0,0,0,1)' 'rgba(230,25,75,1)' 'rgba(245,130,48,1)' 'rgba(255,225,25,1)' 'rgba(210,245,60,1)' 'rgba(60,180,75,1)' 'rgba(70,240,240,1)' 'rgba(0,130,200,1)' 'rgba(145,30,180,1)' 'rgba(240,50,230,1)' 'rgba(128,128,128,1)' 'rgba(250,190,212,1)' 'rgba(255,215,180,1)' 'rgba(255,250,200,1)' 'rgba(170,255,195,0.2)' 'rgba(220,190,255,1)' 'rgba(255,255,255,1)' %}', // Border color for Category 1
      borderWidth: 1
    },
    {% endfor %}
  ]
},
options: {
  scales: {
    x: {
      beginAtZero: true,
      grid: {
      color: 'rgba(255,255,255,0.3)',
    },
    },
    y: {
      beginAtZero: true,
      grid: {
      color: 'rgba(255,255,255,0.1)',
    },
    }
  },
  responsive: true,
  plugins: {
    legend: {
      position: 'top',
    },
    tooltip: {
      mode: 'index',
      intersect: false,
    }
  }
}
});
</script>
<script>
var ctx = document.getElementById('expense12Chart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'bar', // Bar chart
data: {
  labels: {{month12_list|safe}},
  datasets: [
    {% for key, val in expense12_dict.items %}
    {
      label: '{{key}}',
      data: {{val|safe}},
      backgroundColor: '{% cycle 'rgba(128,0,0,0.2)' 'rgba(170,110,40,0.2)' 'rgba(128,128,0,0.2)' 'rgba(0,128,128,0.2)' 'rgba(0,0,128,0.2)' 'rgba(0,0,0,0.2)' 'rgba(230,25,75,0.2)' 'rgba(245,130,48,0.2)' 'rgba(255,225,25,0.2)' 'rgba(210,245,60,0.2)' 'rgba(60,180,75,0.2)' 'rgba(70,240,240,0.2)' 'rgba(0,130,200,0.2)' 'rgba(145,30,180,0.2)' 'rgba(240,50,230,0.2)' 'rgba(128,128,128,0.2)' 'rgba(250,190,212,0.2)' 'rgba(255,215,180,0.2)' 'rgba(255,250,200,0.2)' 'rgba(170,255,195,0.2)' 'rgba(220,190,255,0.2)' 'rgba(255,255,255,0.2)' %}', // Color for Category 1
      borderColor: '{% cycle 'rgba(128,0,0,1)' 'rgba(170,110,40,1)' 'rgba(128,128,0,1)' 'rgba(0,128,128,1)' 'rgba(0,0,128,1)' 'rgba(0,0,0,1)' 'rgba(230,25,75,1)' 'rgba(245,130,48,1)' 'rgba(255,225,25,1)' 'rgba(210,245,60,1)' 'rgba(60,180,75,1)' 'rgba(70,240,240,1)' 'rgba(0,130,200,1)' 'rgba(145,30,180,1)' 'rgba(240,50,230,1)' 'rgba(128,128,128,1)' 'rgba(250,190,212,1)' 'rgba(255,215,180,1)' 'rgba(255,250,200,1)' 'rgba(170,255,195,0.2)' 'rgba(220,190,255,1)' 'rgba(255,255,255,1)' %}', // Border color for Category 1
      borderWidth: 1
    },
    {% endfor %}
  ]
},
options: {
  scales: {
    x: {
      beginAtZero: true,
      grid: {
      color: 'rgba(255,255,255,0.3)',
    },
    },
    y: {
      beginAtZero: true,
      grid: {
      color: 'rgba(255,255,255,0.1)',
    },
    }
  },
  responsive: true,
  plugins: {
    legend: {
      position: 'top',
    },
    tooltip: {
      mode: 'index',
      intersect: false,
    }
  }
}
});
</script>
<script>
var ctx = document.getElementById('income4Chart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'bar', // Bar chart
data: {
labels: {{month4_income_list|safe}},
datasets: [
  {% for key, val in income4_dict.items %}
  {
    label: '{{key}}',
    data: {{val|safe}},
    backgroundColor: '{% cycle 'rgba(128,0,0,0.2)' 'rgba(170,110,40,0.2)' 'rgba(128,128,0,0.2)' 'rgba(0,128,128,0.2)' 'rgba(0,0,128,0.2)' 'rgba(0,0,0,0.2)' 'rgba(230,25,75,0.2)' 'rgba(245,130,48,0.2)' 'rgba(255,225,25,0.2)' 'rgba(210,245,60,0.2)' 'rgba(60,180,75,0.2)' 'rgba(70,240,240,0.2)' 'rgba(0,130,200,0.2)' 'rgba(145,30,180,0.2)' 'rgba(240,50,230,0.2)' 'rgba(128,128,128,0.2)' 'rgba(250,190,212,0.2)' 'rgba(255,215,180,0.2)' 'rgba(255,250,200,0.2)' 'rgba(170,255,195,0.2)' 'rgba(220,190,255,0.2)' 'rgba(255,255,255,0.2)' %}', // Color for Category 1
    borderColor: '{% cycle 'rgba(128,0,0,1)' 'rgba(170,110,40,1)' 'rgba(128,128,0,1)' 'rgba(0,128,128,1)' 'rgba(0,0,128,1)' 'rgba(0,0,0,1)' 'rgba(230,25,75,1)' 'rgba(245,130,48,1)' 'rgba(255,225,25,1)' 'rgba(210,245,60,1)' 'rgba(60,180,75,1)' 'rgba(70,240,240,1)' 'rgba(0,130,200,1)' 'rgba(145,30,180,1)' 'rgba(240,50,230,1)' 'rgba(128,128,128,1)' 'rgba(250,190,212,1)' 'rgba(255,215,180,1)' 'rgba(255,250,200,1)' 'rgba(170,255,195,0.2)' 'rgba(220,190,255,1)' 'rgba(255,255,255,1)' %}', // Border color for Category 1
    borderWidth: 1
  },
  {% endfor %}
]
},
options: {
scales: {
  x: {
    beginAtZero: true,
    grid: {
      color: 'rgba(255,255,255,0.3)',
    },
  },
  y: {
    beginAtZero: true,
    grid: {
      color: 'rgba(255,255,255,0.1)',
    },
  }
},
responsive: true,
plugins: {
  legend: {
    position: 'top',
  },
  tooltip: {
    mode: 'index',
    intersect: false,
  }
}
}
});
</script>
<script>
var ctx = document.getElementById('income12Chart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'bar', // Bar chart
data: {
labels: {{month12_income_list|safe}},
datasets: [
  {% for key, val in income12_dict.items %}
  {
    label: '{{key}}',
    data: {{val|safe}},
    backgroundColor: '{% cycle 'rgba(128,0,0,0.2)' 'rgba(170,110,40,0.2)' 'rgba(128,128,0,0.2)' 'rgba(0,128,128,0.2)' 'rgba(0,0,128,0.2)' 'rgba(0,0,0,0.2)' 'rgba(230,25,75,0.2)' 'rgba(245,130,48,0.2)' 'rgba(255,225,25,0.2)' 'rgba(210,245,60,0.2)' 'rgba(60,180,75,0.2)' 'rgba(70,240,240,0.2)' 'rgba(0,130,200,0.2)' 'rgba(145,30,180,0.2)' 'rgba(240,50,230,0.2)' 'rgba(128,128,128,0.2)' 'rgba(250,190,212,0.2)' 'rgba(255,215,180,0.2)' 'rgba(255,250,200,0.2)' 'rgba(170,255,195,0.2)' 'rgba(220,190,255,0.2)' 'rgba(255,255,255,0.2)' %}', // Color for Category 1
    borderColor: '{% cycle 'rgba(128,0,0,1)' 'rgba(170,110,40,1)' 'rgba(128,128,0,1)' 'rgba(0,128,128,1)' 'rgba(0,0,128,1)' 'rgba(0,0,0,1)' 'rgba(230,25,75,1)' 'rgba(245,130,48,1)' 'rgba(255,225,25,1)' 'rgba(210,245,60,1)' 'rgba(60,180,75,1)' 'rgba(70,240,240,1)' 'rgba(0,130,200,1)' 'rgba(145,30,180,1)' 'rgba(240,50,230,1)' 'rgba(128,128,128,1)' 'rgba(250,190,212,1)' 'rgba(255,215,180,1)' 'rgba(255,250,200,1)' 'rgba(170,255,195,0.2)' 'rgba(220,190,255,1)' 'rgba(255,255,255,1)' %}', // Border color for Category 1
    borderWidth: 1
  },
  {% endfor %}
]
},
options: {
scales: {
  x: {
    beginAtZero: true,
    grid: {
      color: 'rgba(255,255,255,0.3)',
    },
  },
  y: {
    beginAtZero: true,
    grid:{
      color: 'rgba(255,255,255,0.1)',
    }
  }
},
responsive: true,
plugins: {
  legend: {
    position: 'top',
  },
  tooltip: {
    mode: 'index',
    intersect: false,
  }
}
}
});
</script>

{% endblock %}
{% block copyright %}
    <p class="text-center text-white-50"><i class="bi-c-circle"></i> Roshan, 2025</p>
{% endblock %}
