<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DASHBOARD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body style="background-color: #1a1a25;">
    <div class="container text-white">
        <h1 class="display-6 text-center my-3">DASHBOARD</h1>
        <div class="container my-3 rounded-4 p-3 text-ce" style="background-color: #27293d; border-color:#27293d;">
            <p class="text-info h5 text-center">Monthly Summary</p>
            <canvas id="myChart"></canvas>
        </div>
        <div class="container my-3 text-center">
            <div class="row gap-3">
                <div class="col rounded-4 p-2" style="background-color: #27293d; border-color:#27293d;">
                    <p class="text-info h5">Expenses ({{cur_month}})</p>
                    <div><canvas id="expenseChart"></canvas></div>
                    <div class="my-2 text-end"><a class="btn btn-primary opacity-50" href="{% url 'myfinance:details' 'expenses' %}" role="button">More</a></div>
                </div>
                <div class="col rounded-4 p-2" style="background-color: #27293d; border-color:#27293d;">
                    <p class="text-info h5">Income ({{cur_month}})</p>
                    <div><canvas id="incomeChart"></canvas></div>
                    <div class="my-2 text-end"><a class="btn btn-primary opacity-50" href="{% url 'myfinance:details' 'income' %}" role="button">More</a></div>
                </div>
            </div>
        </div>
        <div class="container my-3 text-center rounded-4 p-3" style="background-color: #27293d; border-color:#27293d;">
            <p class="text-info h5">Your Balances</p>
            <div class="container text-center px-4">
                <div class="row gap-2">
                    <div class="col-md card" style="background-color: #71747a;">
                        <div class="card-body p-2">
                            <h5 class="card-title text-white">$ 1,045.00</h5>
                            <h6 class="card-subtitle text-white-50">Chequing Account</h6>
                        </div>
                    </div>
                    <div class="col-md card" style="background-color: #71747a;">
                        <div class="card-body p-2">
                            <h5 class="card-title text-white">$ 8,099.00</h5>
                            <h6 class="card-subtitle text-white-50">Savings Account</h6>
                        </div>
                    </div>
                    <div class="col-md card" style="background-color: #71747a;">
                        <div class="card-body p-2">
                            <h5 class="card-title text-white">$ 2,544.12</h5>
                            <h6 class="card-subtitle text-white-50">Mastercard</h6>
                        </div>
                    </div>
                    <div class="col-md card" style="background-color: #71747a;">
                        <div class="card-body p-2">
                            <h5 class="card-title text-white">$ 4,155.20</h5>
                            <h6 class="card-subtitle text-white-50">Visa Card</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container my-3 rounded-4 p-3" style="background-color: #27293d; border-color:#27293d;">
            <p class="text-info h5">Recent Transactions</p>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                      <th class="text-white-50" scope="col">Date</th>
                      <th class="text-white-50" scope="col">Vendor</th>
                      <th class="text-white-50" scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for alltransaction in allTransactions %}
                    <tr>
                      <td>{{alltransaction.date}}</td>
                      {% if alltransaction.category == "tf" %}
                      <td>{{alltransaction.tfrom.name}} to {{alltransaction.tto.name}}</td>
                      <td class="text-info"><strong>$ {{alltransaction.amount|floatformat:2}}</strong></td>
                      {% elif alltransaction.category == 'sa' or alltransaction.category == 'go' or alltransaction.category == 'bu' or alltransaction.category == 'oi' %}
                      <td>{{alltransaction.tfrom.name}}</td>
                      <td style="color: #2CFF05"><strong>$ {{alltransaction.amount|floatformat:2}}</strong></td>
                      {% else %}
                      <td>{{alltransaction.tto.name}}</td>
                      <td style="color: #FF0000"><strong>$ {{alltransaction.amount|floatformat:2}}</strong></td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>                
            </table>
        </div>

        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ months|safe }},  // X-axis labels (Months)
                datasets: [
                    {
                        label: 'Income',
                        data: {{ incomes|safe }},  // Income values
                        borderColor: 'green',
                        borderWidth: 2,
                        fill: false,
                        lineTension: 0.5,
                        //tension: 0.1
                    },
                    {
                        label: 'Expense',
                        data: {{ expenses|safe }},  // Expense values
                        borderColor: 'red',
                        borderWidth: 2,
                        fill: false,
                        lineTension: 0.5,
                        //tension: 0.1
                    }
                ]
            },
            options: {
                responsive: true,
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('expenseChart').getContext('2d');
        var data = {
            labels: {{ cur_month_expenses.labels|safe }},
            datasets: [{
                data: {{ cur_month_expenses.data|safe }},
                backgroundColor: ['#00876c','#ffa600','#ff7c43','#63b179','#665191',
                '#a05195','#d45087','#88c580','#aed987','#d6ec91','#ffff9d',
                '#fee17e','#fcc267','#f7a258','#ef8250','#e4604e','#d43d51','#003f5c','#2f4b7c','#665191',
                '#a05195','#d45087','#f95d6a','#ff7c43','#ffa600','#3d9c73'],
                //hoverBackgroundColor: ['#FF4C5B', '#2A9DF4', '#F1B732', '#A1C233',],
                borderColor: '#27293d',
            }]
        };

        var options = {
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            var total = tooltipItem.dataset.data.reduce(function(sum, value) {
                                return sum + value;
                            }, 0);
                            var percentage = Math.round((tooltipItem.raw / total) * 100);
                            return tooltipItem.label + ' ($ ' + tooltipItem.raw +') : ' + percentage + '%';
                        }
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false
        };

        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: options
        });
    </script>

    <script>
        var ctx = document.getElementById('incomeChart').getContext('2d');
        var data = {
            labels: {{ cur_month_income.labels|safe }},
            datasets: [{
                data: {{ cur_month_income.data|safe }},
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56','#3D7317','#00876c','#ffa600','#ff7c43','#63b179','#665191'],
                hoverBackgroundColor: ['#FF4C5B', '#2A9DF4', '#F1B732', '#63993D','#00876c','#ffa600','#ff7c43','#63b179','#665191'],
                borderColor: '#27293d',
            }]
        };

        var options = {
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            var total = tooltipItem.dataset.data.reduce(function(sum, value) {
                                return sum + value;
                            }, 0);
                            var percentage = Math.round((tooltipItem.raw / total) * 100);
                            return tooltipItem.label + ' ($ ' + tooltipItem.raw +') : ' + percentage + '%';
                        }
                    }
                },
                datalabels:{
                    color:'white',
                    font:{
                        size:14,
                        weight:'bold'
                    },
                    
                }
            },
            responsive: true,
            maintainAspectRatio: false
        };

        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: options
        });
    </script>

  </body>
</html>