<tr id="transaction-{{transaction.pk}}">
    <td>{{transaction.date}}</td>
    <td>{{transaction.tfrom}}</td>
    <td>{{transaction.tto}}</td>
    <td>$ {{transaction.amount|floatformat:2}}</td>
    <td>{{transaction.categorys}}</td>
    <td>
      <button class="btn btn-sm btn-link edit-icon"
              hx-get="{% url 'myfinance:transaction-edit' transaction.pk %}"
              hx-target="#transaction-{{transaction.pk}}"
              hx-swap="outerHTML">
              ✏️
      </button>
    </td>
</tr>
